@import "utilities/variables";
.btn {
  background: $cyan;
  border-radius: 50px;
  padding: 10px 0!important;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #fff;
}
